<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /projetophp/project-codeigniter/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Permitir acesso aos arquivos estáticos
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^assets/(.*)$ - [L]
</IfModule>
